# Dependencies
node_modules

# Build
dist
*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Capacitor
android
ios
capacitor.config.ts
capacitor.config.json
Kwak.code-workspace
